<div class="wrapper_camera">
  <img
    class="camera_image"
    src="https://p7.hiclipart.com/preview/162/286/435/aia-group-life-insurance-aia-public-financial-services-financial-company.jpg"
  />
  <div class="border_custom1"></div>
  <div class="border_custom2"></div>
  <div class="border_custom3"></div>
  <div class="border_custom4"></div>
</div>
<div class="group_button">
  <button class="btn_primary w-156">
    <img
      class="navbar_logo"
      src="https://p7.hiclipart.com/preview/162/286/435/aia-group-life-insurance-aia-public-financial-services-financial-company.jpg"
    />
    Home
  </button>
  <button class="btn_secondary w-156">
    <img
      class="navbar_logo"
      src="https://p7.hiclipart.com/preview/162/286/435/aia-group-life-insurance-aia-public-financial-services-financial-company.jpg"
    />
    Home
  </button>
</div>
